/.env
/.idea
/vendor
.DS_Store
/.DS_Store
/config/.DS_Store
/node_modules
/.DS_Store
/src/.DS_Store
/html/.DS_Store
/box
general.php
/src/js/components/.DS_Store
/html/bilder/.DS_Store
gulpfile.js
/html/bilder/institutionen
/html/bilder
/html/dokumente/.DS_Store
/html/dokumente
/181106_MN_Backup
/html/fonts/.DS_Store
/templates/.DS_Store
/storage
/config/general-new.php
